

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  
}
html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
 
}

.nav {
    
     display: flex;
    justify-content: space-between;
     height: 6vw;
    align-items: center;
     width: 100%;
     
 }
 .nav-part1 {
     display: flex;
     align-items: flex-start;
     width: 100%;
     height: 8vw;
     background-color: rgb(183, 215, 228);
    border-radius: 0%;
     gap: 0vw;
     
 }
 #logo {
     float: left;
     border: 0;
     height: 16vh;
     width: 18vh;
     box-sizing: border-box;
     border-radius: 10000%;
     padding-top: 3px;
     padding-left: 5px;
     
 }
 .input-group{
 padding-left: 420px;
 padding-top: 48px;
 display: flex;
 }
 .form-control {
    background-color: rgb(245, 241, 246);
    border-color: rgb(90, 2, 20);
    width: 250px;
 }
 .btn-outline-primary{
     border-color: rgb(106, 3, 106);
     background-color: rgb(122, 210, 237);
     width: 100px;
 }
 h1{
     padding-top: 32px;
    padding-left: 35px;
     font-style: italic;
     
     font: 15px;
    
 }
 .nav-part2{
     background-color: rgb(247, 160, 138);
     height: 55px;
     width: 100%;
     padding-top: px;
     display: flex;
     align-items: flex-start;
     gap: 210px;
     padding-top: 0;
     padding-left: 5px;
 }
 .nav-part2 h3{
   padding: 10px 20px ;
   border: 2px solid #0d0b0b;
   border-radius: 80px;
   font-weight: 500;
   color: black;
   position: relative;
   font-size: 14px; 
   transition: all ease 0.4s; 
   overflow: hidden;
 }
 .nav-part2 h3::after{
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: black;
   left: 0;
   bottom: -100%;
   border-radius: 50%;
   transition: all ease 0.4s;
   min-inline-size: normal;
 }
 .nav-part2 h3:hover::after{
   bottom: 0;
   border-radius: 0%;
 }
 .nav-part2 h3 a {
   text-decoration: none;
   color: rgb(210, 10, 10);
   z-index: 9;
   position: relative;
 }
 .nav-part2 h3:hover a{
   color:rgb(234, 228, 228);
 }
 
 .property {
     width: 1000px;
     margin: auto;
   }
   
.header {
    background-color: #1e2530;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.main-content {
    padding: 20px;
}
.footer {
    background-color: #1e2530;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer div {
    text-align: center;
  }
  .footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  .footer a:hover {
    text-decoration: underline;
  }